/*
*** FACTOID COMPONENT ***
*/

.factoid {
	max-width: 265px;
	margin: 0 auto 50px auto;
	text-align: center;
	.icon-container {
		margin: 0 0 20px 0;
		padding: 20px 10px;
		border-bottom: 1px solid $red;
	}
	.text-container {
		h3 {
			span {
				display: block;
				&.fact-num {
					margin: 0 0 5px 0;
					//@include font('roboto-bl',64,$black,rem);
				}
				&.fact-text {
					//@include font('roboto-m',24,$black,rem);
					line-height: 1.2;
				}
			}
		}
	}
}