.media {
	//margin: 10rem 0;
	.media-left {
		img {
			max-height: 250px;
			object-fit: contain;
		}	
	}
	.media-right {
		img {
			max-height: 250px;
			object-fit: contain;
		}
	}

	img.img-border {
		border: 2px solid $oranger;
		border-radius: 0.2rem;
	}
}