  <!-- JavaScript -->
  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" charset="UTF-8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- <script src="/lib/tether.js"></script>
  <script src="/lib/bootstrap/bootstrap.min.js"></script> -->
  <script src="/lib/slick/slick.min.js"></script>
  <script src="/lib/jwplayer/jwplayer.js"></script>
  <script>jwplayer.key="u3OTqxsL+6BM3j81tbrwz2Q31lKEHbwXKSX4yg==";</script>
  <!--<script src="/javascripts/global.js"></script>
  <script src="/javascripts/tabs-aria.js"></script>
  <script src="/javascripts/slick-slider.js"></script>-->
  <script src="/lib/slick-lightbox/slick-lightbox.min.js"></script>
  <script src="/lib/multiple-select/multiple-select.js"></script>
  <script src="/js/main.js"></script>

