<footer class="main-footer" role="contentinfo">
    <div class="footer-top p-y-2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="footer-title text-xs-center">
                        <h4 class="p-b-1">Contact Us</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">Admissions &amp; Records</a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">Assessment Center</a>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">Bookstore – Barnes & Noble</a>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">Cafeteria – WVM Café</a>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">CalWORKs Program</a>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="http://www.westvalley.edu/">Campus Center Building</a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
                        <ul class="list-unstyled">
                          <li>
                            14000 Fruitvale Avenue<br>
                            Saratoga, CA<br>
                            95070 <br>
                          </li>
                          <li>
                            Phone: (408) 867-2200
                          </li>
                        </ul>
                      </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Services</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.westvalley.edu/">Financial Aid</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Library</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Writing Center</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Veterans Resource Center</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Website Information</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.westvalley.edu/">Accessibility</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Disclaimer</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Privacy Policy</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">FAQs</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Webmaster</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Departments</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.westvalley.edu/">Applied Arts and Sciences</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Business</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Fine Arts</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Language Arts</a>
                            </li>
                            <li><a href="http://www.westvalley.edu/">Physical Education</a>
                            </li>
                            <li>
                                <a href="http://www.westvalley.edu/">Science & Mathematics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--Footer Bottom-->
                    <p class="text-sm-center">&copy; Copyright
                        <script>
                            document.write(new Date().getFullYear());
                        </script> - West Valley College. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>