<header class="l-header">
    <div class="headerRow" id="headerRow">
        <div class="logoImage">
            <!-- com.omniupdate.div label="logo" path="/_resources/includes/logo.php" -->
            <a href="/"><img src="http://www.westvalley.edu/_resources/images/logos/wvc-logo-horz-blue.png" alt="West Valley College" width="419" height="75">
            </a>
            <!-- /com.omniupdate.div -->
        </div>
        <div id="main-toggle-container" class="main-toggle-container">
            <div class="toggle">
                <button class="toggle-element" aria-controls="main-nav" aria-expanded="false">
                </button>
            </div>
            <span class="menu-text">Menu</span>
        </div>
        <!-- com.omniupdate.div label="common-header" path="/_resources/includes/ou-common-header-content-new.php" -->
        <div class="actionNavBar">
            <div class="actionNavBox"><a title="Canvas Learning Management" href="https://wvm.instructure.com/login/canvas" target="_blank">Canvas</a> <a title="WVCPortal" href="/wvcportal/" target="_blank">WVCPortal</a> <a title="Campus Directory" href="/directories.html">Directory</a> <a title="Library" href="/library/">Library</a> <a title="Online Classes" href="/elearning/index.html">Online Classes</a>
                <ul id="quicklinkmenu">
                    <li class="menu_head">Quick Links
                        <ul class="menu_body">
                            <li><a title="Academic &amp; Career Programs" href="/academic/">Academic &amp; Career Programs</a>
                            </li>
                            <li><a title="Academic Calendar" href="/calendar/">Academic Calendar</a>
                            </li>
                            <li><a title="Bookstore" href="/bookstore/index.html" target="_blank">Bookstore</a>
                            </li>
                            <li><a title="College Catalog" href="/catalog/index.html">Catalog</a>
                            </li>
                            <li><a title="Class Schedule" href="/classes/schedule/index.html">Class Schedule</a>
                            </li>
                            <li><a title="Degree, Certificate, and Transfer Program" href="/classes/programs/">Degree, Certificate, and Transfer Programs</a>
                            </li>
                            <li><a title="eLearning" href="/elearning/">eLearning</a>
                            </li>
                            <li><a title="Facility Rentals" href="/calendar/facilities/">Facility Rentals</a>
                            </li>
                            <li><a title="Faculty &amp; Staff Resources" href="/faculty/">Faculty &amp; Staff Directory</a>
                            </li>
                            <li><a title="Faculty &amp; Staff Resources" href="/faculty/_faculty-resources.html">Faculty &amp; Staff Resources</a>
                            </li>
                            <li><a title="Financial Aid" href="/services/financialaid/">Financial Aid</a>
                            </li>
                            <li><a title="How to Apply" href="/admissions/apply.html">How to Apply</a>
                            </li>
                            <li><a title="Important Dates" href="/calendar/dates_deadlines/">Important Dates</a>
                            </li>
                            <li><a title="Library" href="/library/">Library</a>
                            </li>
                            <li><a title="Maps" href="/maps/">Maps</a>
                            </li>
                            <li><a title="Parking" href="/maps/parkinginfo/">Parking</a>
                            </li>
                            <li><a title="Student Services" href="/services/">Student Services</a>
                            </li>
                            <li><a title="Transcripts" href="/admissions/records.html">Transcripts</a>
                            </li>
                            <li><a title="Veterans Support Services" href="/veterans/index.html">Veterans Support Services</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="headersearch">
                <form id="searchbox_012142509619560477237:cls2xeejzj8" action="/search/results.html">
                    <input type="hidden" name="cof" value="FORID:9">
                    <input type="hidden" name="cx" value="012142509619560477237:cls2xeejzj8">
                    <label title="Input for Site Search" for="q">
                        <input id="q" title="Input for Site Search" onfocus="this.value='';" type="text" name="q" value="" maxlength="255">
                    </label>
                    <label title="Click to Search" for="sa">
                        <input id="sa" title="Click to Search" onclick="javascript: document.getElementById('searchbox_012142509619560477237:cls2xeejzj8').submit();" type="button" name="sa" value="Search">
                    </label>
                    <noscript>&lt;a href="&lt;span id="oudependency_d7114300_1" class="ouDependencyOff"&gt;/search&lt;/span&gt;"&gt;SEARCH&lt;/a&gt;</noscript>
                </form>
                <script type="text/javascript">
                    // <![CDATA[
                    <!--
                    function loadText() {
                        var formobj = document.getElementById('searchbox_012142509619560477237:cls2xeejzj8').q;
                        formobj.value = "search westvalley.edu";
                    }
                    loadText();
                    // -->
                    // ]]>
                </script>
                <div class="azIndex"><a title="" href="/sitemap.html">A-Z Index</a>
                </div>
            </div>
        </div>
        <!-- /com.omniupdate.div -->
    </div>
    <div class="dropLayer">
        <!-- com.omniupdate.div label="drop-menu" path="/resources/include/new/ou-header-drop-menu-new.php" -->
        <div class="dropmenu">
            <ul id="menu">
                <li class="mega first"><span class="nav"><a href="/about/index.html">&nbsp;About Us&nbsp;</a></span>
                </li>
                <li class="mega"><span class="nav droplink"><a href="/admissions/">&nbsp;Admissions&nbsp;</a></span>
                </li>
                <li class="mega wide twoline"><span class="nav droplink"><a class="droplinkCareer" href="/academics/">Academic &amp; Career Programs</a></span>
                </li>
                <li class="mega wide"><span class="nav droplink"><a href="/services/index.html">&nbsp;Student Services&nbsp;</a></span>
                </li>
                <li class="mega last"><span class="nav droplink"><a href="/wvcsports/index.html">&nbsp;Athletics&nbsp;</a></span>
                </li>
            </ul>
        </div>
        <!-- /com.omniupdate.div -->
    </div>
</header>