<aside role="complementary" class="subnav-container left-subnav col-sm-12 col-md-4 col-lg-3">
        <h2 id="subnav-toggle" class="section-title" tabindex="0">Section Title</h2>
        <div class="subnav-content">
          <ul class="subnav menu level-1">
            <li class="menu-item">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#">Mission, Vision & Information</a>
                              <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
              </li>
            <li class="menu-item">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#">Leadership</a>
                <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
              </li>
            <li class="menu-item">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#">Administrative Offices</a>
                <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
              </li>
            <li class="menu-item">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#">Accreditation</a>
                <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
              </li>
            <li class="menu-item current-menu-item menu-item-has-children list-item-open">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#" class="menu-description">Current Page Title</a>
                <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="list-toggle" aria-label="togglebutton"><span class="fa fa-angle-right"></span></button>
                <a href="#">Second Level Page Example</a>
                <ul class="sub-menu level-2">
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    </li>
                    <li class="menu-item current-page-item"><a href="#">Dallas</a>
                    </li>
                    <li class="menu-item"><a href="#">Third Level Page Example</a>
                    <li class="menu-item"><a href="#">Third Level Page Example Longer Title</a>
                    </li>
                </ul>
            </li>
          </ul>
        </div>

    <div class="extra-info card cta-card">
        <div class="card-block">
            <h4 class="card-title">Important & Extra Info</h4>
            <h5 class="card-subheading">Extra info subheading</h5>
            <p class="card-text">Extra info paragraph text description.</p>
            <a href="#" class="promo-link">Important Info Link</a>
        </div>
    </div>
</aside>
