<aside role="complementary" class="right-sidebar col-sm-12 col-md-12 col-lg-4">
    <div class="cta-block block">
        <a href="#" class="btn btn-primary btn-lg btn-block btn-cta">
            <h3 class="cta-header text-left">Apply Now</h3>
            <p class="cta-text text-left">Here is some cta text</p>
            <span class="cta-arrow-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div class="cta-block block">
        <a href="#" class="btn btn-primary btn-lg btn-block btn-cta">
            <h3 class="cta-header text-left">Apply Now</h3>
            <span class="cta-arrow-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div class="card cta-card cta-card-list">
        <h4 class="card-title">Important Dates</h4>
        <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" aria-label="Important Dates" class="card-link">Important Dates</a>
        <a href="#" aria-label="Important Dates" class="card-link">Important Dates Two</a>
        <ul class="list-group list-group-flush cta-card-list">
            <li class="list-group-item cta-card-li">List item - Cras justo odio</li>
            <li class="list-group-item cta-card-li"><a href="#" class="list-group-item-action cta-link">List item link - Dapibus ac facilisis in</a></li>
            <li class="list-group-item cta-card-li">List item - Vestibulum at eros</li>
        </ul>
    </div>

   <div class="card cta-card">
        <div class="card-block">
            <h4 class="card-title">Important Dates & Deadlines</h4>
            <p class="card-text">card paragraph text description.</p>
            <ul>
                <li><a href="#" class="promo-link">Important Dates</a></li>
                <li><a href="#" class="promo-link">Important Dates</a></li>
                <li><a href="#" class="promo-link">Important Dates</a></li>
            </ul>
        </div>
    </div>

    <div class="card cta-card">
        <h4 class="card-title">Got Questions?</h4>
        <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" aria-label="Important Dates" class="card-link">Click here to contact us</a>
    </div>

    <div class="card cta-card">
        <h4 class="card-title">Promo</h4>
        <img class="card-img-top img-fluid" src="http://fillmurray.com/400/400" alt="Card image cap">
        <div class="card-block">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" aria-label="Email" class="card-link">Email: example@example.com</a>
        </div>
    </div>

    {% include "macros/video-promo.html" %}
</aside>