<div class="row tabWidgetContainer">
    <ul class="col-md-12 tablist" role="tablist">
        <li class="active" role="tab" aria-selected="true" 
            aria-controls="first-tab" tabindex="0">Tab One</li>
        <li class="inactive" role="tab" aria-selected="false" 
            aria-controls="second-tab" tabindex="-1">Tab Two</li>
        <li class="inactive" role="tab" aria-selected="false" 
            aria-controls="third-tab" tabindex="-1">Tab Three</li>
        <li class="inactive" role="tab" aria-selected="false" 
            aria-controls="fourth-tab" tabindex="-1">Tab Four</li>
    </ul>
    <div class="tabgrouping">
        <div id="first-tab" class="tabpanel active" role="tabpanel" aria-hidden="false">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
        <div id="second-tab" class="tabpanel inactive" role="tabpanel" aria-hidden="true">
           <p>Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p> 
        </div>
        <div id="third-tab" class="tabpanel inactive" role="tabpanel" aria-hidden="true">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
        </div>
        <div id="fourth-tab" class="tabpanel inactive" role="tabpanel" aria-hidden="true">
          <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
    </div>
</div>