<div class="row cards-section">
        <div class="col-sm-6">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="http://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Program Card Title</h4>
                    <p class="card-text">Program card paragraph text description.</p>
                    <ul>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="http://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Program Card Title</h4>
                    <p class="card-text">Program card paragraph text description.</p>
                    <ul>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                        <li><a href="#" class="promo-link">Program Card Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
