<div class="row cards-grid cards-section">
    
        <div class="col-sm-12 col-md-6">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - 50/50 Grid col-6</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        
        <div class="col-sm-12 col-md-6">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - 50/50 Grid col-6</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
</div>

<div class="row cards-grid cards-section">
    
        <div class="col-sm-12 col-md-3">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-3</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        
        <div class="col-sm-12 col-md-6">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-6</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-3</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

</div>

<div class="row cards-grid cards-section">
    
        <div class="col-sm-12 col-md-3">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-3</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        
        <div class="col-sm-12 col-md-6">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-6</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-6</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

                <div class="col-sm-12 col-md-3">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-3</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

</div>


<div class="row cards-grid cards-section">
    
        <div class="col-sm-12 col-md-4">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-4</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        
        <div class="col-sm-12 col-md-8">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-8</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-8</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
        <!-- Card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
                <div class="card-block">
                <h4 class="card-title">Card title - Grid col-4</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="https://fillmurray.com/400/300" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title - Card Deck</h4>
      <p class="card-text">Card deck group. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Card deck footer section</small>
    </div>
  </div>
</div>