<div class="data-table-wrap card table-responsive table-section">
    <div class="table-header card-header">
        <h3>Featured Static Table</h3>
    </div>
    <div class="card-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Test Row</td>
                <td>The test</td>
                <td>Third test</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="data-table-wrap card table-section">
    <div class="table-header card-header">
        <h3>Responsive Table With Scrollbar</h3>
    </div>
    <div class="card-block">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Fourth Column</th>
                    <th>Fifth Column</th>
                    <th>Sixth Column</th>
                    <th>Seventh Column</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@thornton</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="data-table-wrap card table-section">
    <div class="table-header card-header">
        <h3>Responsive Table Hide Columns</h3>
    </div>
    <div class="card-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th class="hide-tablet">Fourth Column</th>
                    <th class="hide-phone">Fifth Column</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td class="hide-tablet">Example text</td>
                    <td class="hide-phone">Example text</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@thornton</td>
                    <td class="hide-tablet">Example text</td>
                    <td class="hide-phone">Example text</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td class="hide-tablet">Example text</td>
                    <td class="hide-phone">Example text</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td class="hide-tablet">Example text</td>
                    <td class="hide-phone">Example text</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td class="hide-tablet">Example text</td>
                    <td class="hide-phone">Example text</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




 <div class="data-table-wrap card table-section">
    <div class="table-header card-header">
        <h3>Responsive Table With Scrollbar</h3>
    </div>
    <div class="card-block">
        <table id="search-table" class="display table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Fourth Column</th>
                    <th>Fifth Column</th>
                    <th>Sixth Column</th>
                    <th>Seventh Column</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@thornton</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Test Row</td>
                    <td>The test</td>
                    <td>Third test</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                    <td>Example text</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
