<h2>Default Bootstrap Dropdown</h2>
<div class="dropdown">
  <a href="#" class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>

<h2>VPM Custom Dropdown</h2>
<div class='drop-container'>
	<button class='dropdown-vpm'>Lorem Ipsum</button>
	<ul>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
		<li>
			<a href='#'>lorem ipsum</a>
		</li>
	</ul>
</div>