<div class="grid-system-examples">

  <div class="row">
    <div class="column col-sm-12">
       {% include "macros/slick-slider.html" %}
    </div>
 
  </div>

  <div class="row media-text-section">
    <div class="column col-md-4">
      <figure>

        <img class="media media-object img-fluid d-flex align-self-center mr-3" src="https://www.fillmurray.com/600/600" alt="example image">
        <figcaption>This is the caption of the above image.</figcaption>
        
      </figure>
    </div>
    <div class="column col-md-8">
      {% include "macros/text-section.html" %}
    </div>
    
  </div>

  <div class="row">
    <div class="column col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
          <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="column col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
          <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="column col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top float-left img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
          <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="pull-right card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>

<div class="row">
     <div class="column col-sm-12 col-md-7 col-lg-7">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
          <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a card inside a col-sm-7 col-lg-9</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="column col-sm-12 col-md-5 col-lg-5">
        <div class="card cta-card">
          <div class="card-block">
              <h4 class="card-title">Important Stuff & Things</h4>
              <p class="card-text">This is a card inside a col-sm-5 col-lg-3</p>
              <ul>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
              </ul>
          </div>
        </div>
    </div>

    <div class="column col-sm-12 col-md-5 col-lg-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://fillmurray.com/400/300" alt="Card image cap">
          <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a card inside a col-sm-5 col-lg-3</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="column col-sm-12 col-md-7 col-lg-7">
        <div class="card cta-card">
          <div class="card-block">
              <h4 class="card-title">Important Stuff & Things</h4>
              <p class="card-text">This is a card inside a col-sm-7 col-lg-9</p>
              <ul>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
                  <li><a href="#" class="promo-link">Important List Link</a></li>
              </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="column col-sm-12">
       {% include "macros/two-paragraphs.html" %}
    </div>
 
  </div>

  <div class="row">
    <div class="column col-md-6">
       {% include "macros/three-paragraphs.html" %}
       <div class="row">
          <div class="col-md-6">
            <p>
              Nested equal width column. Sed lacinia, mauris ut finibus mattis, dui libero auctor sapien, pellentesque aliquet tortor metus eget orci. Maecenas orci nisi, scelerisque et augue non, placerat fringilla augue. Etiam quis pellentesque purus. Sed vel auctor augue. Phasellus placerat in odio vitae auctor. Cras libero risus, malesuada quis dolor in, auctor luctus lectus. Donec volutpat arcu quis euismod dignissim. Phasellus at nisi lacus. Suspendisse posuere imperdiet quam, id venenatis justo aliquam convallis.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Nested equal width column. Sed lacinia, mauris ut finibus mattis, dui libero auctor sapien, pellentesque aliquet tortor metus eget orci. Maecenas orci nisi, scelerisque et augue non, placerat fringilla augue. Etiam quis pellentesque purus. Sed vel auctor augue. Phasellus placerat in odio vitae auctor. Cras libero risus, malesuada quis dolor in, auctor luctus lectus. Donec volutpat arcu quis euismod dignissim. Phasellus at nisi lacus. Suspendisse posuere imperdiet quam, id venenatis justo aliquam convallis.
            </p>
          </div>
        </div>
    </div>
    <div class="column col-md-6">
      {% include "macros/image-paragraph-text.html" %}
    </div>

  </div>

</div>