<div class="image-figure">
    <figure>
        <img class="media media-object img-fluid d-flex align-self-center mr-3" src="https://www.fillmurray.com/600/600" alt="example image">
        <figcaption>This is the caption of the above image.</figcaption>
    </figure>

    <p>
        Sed lacinia, mauris ut finibus mattis, dui libero auctor sapien, pellentesque aliquet tortor metus eget orci. Maecenas orci nisi, scelerisque et augue non, placerat fringilla augue. Etiam quis pellentesque purus. Sed vel auctor augue. Phasellus placerat in odio vitae auctor. Cras libero risus, malesuada quis dolor in, auctor luctus lectus. Donec volutpat arcu quis euismod dignissim. Phasellus at nisi lacus. Suspendisse posuere imperdiet quam, id venenatis justo aliquam convallis.
    </p>
</div>
