<div class="list-group custom-list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading custom content</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading custom content</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading custom content</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

<div class="list-group-item">

   <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <label class="sr-only">
            External Link
          </label>
          <a href='#'><span aria-hidden="true" class="file-icon fa fa-file"></span></a>
          </div>
        <div class="col-md-3">
          <label class="sr-only">
            External Link
          </label>   
          <a href='#'><span aria-hidden="true" class="download-icon fa fa-download"></span></a>
          </div>
        <div class="col-md-3">  
          <label class="sr-only">
            External Link
          </label>
          <a href='#'><span aria-hidden="true" class="file-img-icon fa fa-file-image-o"></span></a>
          </div>
        <div class="col-md-3">
          <label class="sr-only">
            External Link
          </label>
          <a href='#'><span aria-hidden="true" class="archive-icon fa fa-file-archive-o"></span></a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <label class="sr-only">
            External Link
          </label>
          <a href='#'><span aria-hidden="true" class="link-icon fa fa-external-link-square"></span></a>
         </div>
        <div class="col-md-3">
          <label class="sr-only">
            Word Document
          </label>
          <a href='#'><span aria-hidden="true" class="word-icon fa fa-file-word-o"></span></a>
         </div>
        <div class="col-md-3">
          <label class="sr-only">
            File Folder
          </label>
          <a href='#'><span aria-hidden="true" class="file-folder-icon fa fa-folder"></span></a>
        </div>
        <div class="col-md-3">
          <label class="sr-only">
            Image File
          </label>
          <a href='#'><span aria-hidden="true" class="img-icon fa fa-picture-o"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>