<div class="media img-left">
    <div class="row">

          <div class="media-left img-fluid col-sm-12 col-md-12 col-lg-4">
            <a href="#">
               <img class="media-object img-border img-fluid d-flex align-self-center mr-3" src="https://www.fillmurray.com/600/600" alt="example image">
            </a>
           </div>

        <div class="media-body col-sm-12 col-md-12 col-lg-8">
            <h2 class="media-heading">Section Title H2 Image Left/Below of Text Input</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. <a href="#" class="learn-more">More</a></p>
        </div>

    </div>
</div>
