<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch long scroll modal
</button>

<!-- Long Scroll Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Modal title</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="slick-modal-wrap">
  <div class="row slick-modal">
     <h4 class="col-sm-12 slick-modal-header">Slick Modal Header (h4)</h4>
    <div class="modal-img col-4">
      <a href="http://placekitten.com/1000/600" target="_blank" class="thumbnail"><img  src="http://placekitten.com/1000/600" alt="Example Alt Text"></a>
    </div>
    <div class="modal-img col-4">
      <a href="http://placekitten.com/1010/606" target="_blank" class="thumbnail"><img  src="http://placekitten.com/1010/606" alt="Example Alt Text"></a>
    </div>
    <div class="modal-img col-4">
      <a href="http://placekitten.com/1060/636" target="_blank" class="thumbnail"><img  src="http://placekitten.com/1060/636" alt="Example Alt Text"></a>
    </div>
  </div>
</div>