<div class="image-slider">
    <div class="slick-slider">

        <div class="slider-image">
            <img data-lazy="https://www.fillmurray.com/g/600/300" alt="Image description">

            <div class="slider-caption">
                <p>Image slider caption</p>
            </div>
        </div>

        <div class="slider-image">
            <img data-lazy="http://www.placecage.com/c/600/300" alt="Image description">

            <div class="slider-caption">
                <p>Image slider caption</p>
            </div>
        </div>

        <div class="slider-image">
            <img data-lazy="https://www.fillmurray.com/600/300" alt="Image description">

            <div class="slider-caption">
                <p>Image slider caption</p>
            </div>
        </div>

        <div class="slider-image">
            <img data-lazy="http://www.placecage.com/600/300" alt="Image description">

            <div class="slider-caption">
               <p>Image slider caption</p>
            </div>
        </div>

        <div class="slider-image">
            <img data-lazy="https://www.fillmurray.com/g/600/300" alt="Image description">

            <div class="slider-caption">
                <p>Image slider caption</p>
            </div>
        </div>

    </div>

    <div class="slider-buttons-wrap">
      <div class="slider-buttons">
        <span class="fa fa-play play" aria-hidden="true"></span>
        <span class="fa fa-pause pause" aria-hidden="true"></span>
      </div>
    </div>

</div>