<div id="tabs" class="tabs-section">
      <ul id="tabs-nav">
        <li><a href="#tab1" aria-selected="true" tabindex="0">Tab 1</a></li>
        <li><a href="#tab2" aria-selected="false">Tab 2</a></li>
        <li><a href="#tab3" aria-selected="false">Tab 3</a></li>
      </ul> 
      <!-- tabs-->
      <section id="tabs-content">
        <div aria-labelledby="tab-first" aria-hidden="false" id="tab1" class="content">
          <h2>First</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate laboriosam libero quis maiores hic explicabo distinctio nesciuntDistinctio ratione eligendi delectus natus accusamus iste laborum omnis qui eius quas.</p>
        </div>
        <div aria-labelledby="tab-second" aria-hidden="true" id="tab2" class="content">
          <h2>Second</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta commodi velit similique quo officiis nulla aspernatur enim earum expesequi est harum laboriosam aperiam facilis aliquam perferendis. Voluptate.</p>
        </div>
        <div aria-labelledby="tab-third" aria-hidden="true" id="tab3" class="content">
          <h2>Third</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sunt doloribus perspiciatis a cum alias adipisci laboriosam quibusdam ipsveritatis asperiores labore quo hic assumenda laudantium excepturi repellendus ullam.</p>
        </div>
      </section> 
</div> 