<!-- headers -->
{% include "macros/headers.html" %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">laboris nisi ut aliquip ex ea commodo</a> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <del>This text is meant to be treated as deleted</del> cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum <mark>highlighted text</mark> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <s>line of text treated as no longer accurate</s> <ins>this text is treated as an addition to the document</ins></p> 

<ul>
    <li>Theophrasti igitur, inquit, <u>this is underlined text</u> de beata vita?</li>
    <li><a href="#">Ego quoque, inquit, didicerim libentius si quid attuleris, quam te reprehenderim.</a></li>
    <li>Qui si omnes veri erunt, <small>this is fine print text</small> aliquid cognosci et percipi.</li>
    <li>Superiores <strong>this is bold text</strong>, quae esse possent, quarum est una sola defensa, eaque vehementer.</li>
</ul>
<ol>
    <li>Quis <a href="#">Aristidem non mortuum</a> diligit?</li>
    <li>Hoc est dicere: Non reprehenderem asotos, si non essent asoti.</li>
    <li>Indicant pueri, in quibus <em>this is italicized text</em> natura cernitur.</li>
    <li>Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta?</li>
    <li>Aliter enim explicari, quod quaeritur, non potest.</li>
</ol>

<dl class="row nested-text">
  <dt class="col-sm-3">Description lists</dt>
  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

  <dt class="col-sm-3">Euismod</dt>
  <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd>

  <dt class="col-sm-3">Malesuada porta</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

  <dt class="col-sm-3">Nesting</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4">Nested definition list</dt>
      <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
    </dl>
  </dd>
</dl>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

<blockquote class="pull-quote">Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall; All the king's horses and all the king's men, Couldn't put Humpty together again.</blockquote>

<p>Sed <abbr title="lorem ipsum example">ut perspiciatis unde</abbr> omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed <abbr title="lorem ipsum example" class="initialism">quia consequuntur</abbr> magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

<blockquote>Hickory Dickory dock, The mouse ran up the clock, The clock struck one, The mouse ran down, Hickory Dickory dock.</blockquote>

<blockquote class="blockquote">
    <p class="mb-0"> Dickory dock, The mouse ran up the clock, The clock struck one, The mouse ran down, Hickory Dickory dock.</p>
    <footer class="blockquote-footer">Quote source in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">laboris nisi ut aliquip</a> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>