<div class="text-input-section">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac dignissim mi. Suspendisse semper arcu vel hendrerit placerat. Nullam purus enim, posuere et ante eu, faucibus dictum dui. Morbi efficitur urna turpis, id tempus augue finibus eget. Phasellus id ultricies nisl. Nam viverra risus nec odio cursus facilisis pellentesque eu nisi. Donec eu risus nunc. 
    </p>

    <p>
        Sed lacinia, mauris ut finibus mattis, dui libero auctor sapien, pellentesque aliquet tortor metus eget orci. Maecenas orci nisi, scelerisque et augue non, placerat fringilla augue. Etiam quis pellentesque purus. Sed vel auctor augue. Phasellus placerat in odio vitae auctor. Cras libero risus, malesuada quis dolor in, auctor luctus lectus. Donec volutpat arcu quis euismod dignissim. Phasellus at nisi lacus. Suspendisse posuere imperdiet quam, id venenatis justo aliquam convallis.
    </p>

    <p>
        Sed lacinia, mauris ut finibus mattis, dui libero auctor sapien, pellentesque aliquet tortor metus eget orci. Maecenas orci nisi, scelerisque et augue non, placerat fringilla augue. Etiam quis pellentesque purus. Sed vel auctor augue. Phasellus placerat in odio vitae auctor. Cras libero risus, malesuada quis dolor in, auctor luctus lectus. Donec volutpat arcu quis euismod dignissim. Phasellus at nisi lacus. Suspendisse posuere imperdiet quam, id venenatis justo aliquam convallis. 
    </p>
</div>