<div class="embed-video-wrap video-promo">
	<h4 class="card-title">Video Title (H4)</h4>
	<div class="embed-video">
		<iframe aria-label="embeded youtube video promo" title="embeded youtube video promo"  width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" allowfullscreen></iframe>
	</div>
	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<h5>Email:</h5>
		<a href="#" aria-label="Email" class="card-link">example@example.com</a>
</div>