/*
*** VARIABLES ***
*/

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$mob-header-height: 66px;

$component-margin-bottom: 50px;

// Interim WV Colors

$white: #ffffff;
$off-white: #ece8e5;
$offer-white: #eee;
$black: #000000;
$off-blk: #333;
$off-grey: #d6d6d6;
$orange: #dd4f05;
$oranger: #cf4b00;
$blue: #0054A0;
$bluer: #003468;
$bluest: #003893;
$blue-lter: #d0d6df;
$blue-gry: #25406a;
$blue-gryer: #425a7e;
$dark-gry: #35383c;
$dkblue: #14325f;
$green: #008000;
$green-yellow: #ffffaa;

// Colors
$gray-dk: #757587;
$gray: #5f5f5f;
$gray-lt: #636c72;
$gray-lter: #eceeef;
$gray-ltest: #d5d5de;

$teal: #677796;

$slick-font-family:FontAwesome;
$slick-prev-character: "\f053";
$slick-next-character: "\f054";